body {
    background-color: #8C1C03;
    font-family: Arial, sans-serif;
}
#hoved {
    width: 80%;
    margin: 50px auto;
    padding: 40px;
    background-color: white;
    border: 1px solid #000000;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "t t t t t";
}
h1, h4, h3{
    font-family: Georgia, serif;
}
h2{
    font-family: Georgia, serif;
    text-align: center;
}
li {
    display: inline;
    float: left;
    border-right: 1px solid Black;
}
a {
    display: block;
    padding: 8px;
    background-color: White;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
li a {
    display: block;
    color: Black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #F29F05;
}
li:last-child {
    border-right: none;
}

.topp {grid-area : t; }
#hoved > .topp {
    background-image: url("./bilder/blader2.jpg");
    width: 1010px;
    height: 100px;
}
#hoved > .fremgang{
    text-align: center;
}
.floatRight{
    float:right;
    margin-left: 20px;
    height: 400px;
    width: 700px;
}
.floatRighta{
    float: right;
    margin-left: 30px;
    height: 300px;
    width: 650px;
}
.floatRightb{
    float: right;
    margin-left: 50px;
    height: 250px;
    width: 600px;
}
table {
    border-collapse: collapse;
    border-bottom: 2px solid #3f4259;
}
th, td {
    border: 1px solid #f6f5f4;
    padding: 8px;
}
thead > tr {
    background-color: #3f4259;
    color: #f6f7fa;
}
tbody > tr:nth-child(odd) {
    background-color: #f6f7fa;
}

body >.tabell {
    background-color: #f5f5f5;
    font-family: Georgia, serif;
}
#tabell {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid #cccccc;
}
h1 {
    font-family: Arial, sans-serif;
}